#btnPrev{
	-fx-background-color: linear-gradient(to left, #a7d676, #85cbcc );
	-fx-background-radius: 100;
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
	-fx-background-color: linear-gradient(to right bottom, #A5CAD2  , #FF7B89  );
	-fx-background-color: linear-gradient(to right bottom, #E2D36B   , #96D7C6  );
			-fx-background-color: linear-gradient(to right bottom, #6C8CBF   , #5AA7A7  );
			-fx-background-color: linear-gradient(to right bottom, #D0C8B6  , #E2D3CD );
						-fx-background-color: linear-gradient(to right bottom, #D6A3DC  , #F7DB70 );
					-fx-background-color: #33539E  ;
}

#btnNext{
	-fx-background-radius: 100;
	-fx-background-color: linear-gradient(to left, #a7d676, #85cbcc );
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
	-fx-background-color: linear-gradient(to right bottom, #A5CAD2  , #FF7B89  );
	-fx-background-color: linear-gradient(to right bottom, #E2D36B   , #96D7C6  );
			-fx-background-color: linear-gradient(to right bottom, #D6A3DC  , #F7DB70 );
			-fx-background-color: #33539E  ;
}

.toplabel{

	-fx-background-color: linear-gradient(to bottom right, #F3DBCF  , #E5C1CD );
	-fx-background-color: linear-gradient(to right bottom, #6C8CBF   , #5AA7A7  );
	-fx-background-color: linear-gradient(to right bottom, #D0C8B6  , #E2D3CD );
	-fx-background-color: linear-gradient(to right bottom, #D6A3DC  , #F7DB70 );
	-fx-background-color: #33539E  ;
	-fx-border-color:#7FACD6;
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}

#topBar{
	-fx-background-color: linear-gradient(to left, #A7D676 , #85CBCC );
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
		-fx-background-color: #5A6794 ; 
		-fx-background-color: linear-gradient(to right bottom, #A5CAD2  , #FF7B89  );
		-fx-background-color: linear-gradient(to right bottom, #6C8CBF   , #5AA7A7  );
		-fx-background-color: linear-gradient(to right bottom, #D0C8B6  , #E2D3CD );
					-fx-background-color: linear-gradient(to right, #7FACD6 , #BFB8DA);
}
#lblDay{
	-fx-font-size: 14pt;

}
#monthText{
	-fx-font-size: 55pt;
	-fx-font-family: "System"; 
}
#lblMonth{
	-fx-font-size: 25pt;
	-fx-font-family: "Typo_Hongikingan L"; 
	
	}
#lblDate{
	-fx-font-size: 20pt;
	-fx-font-family: "Typo_Hongikingan L"; 
}

#pane{
	-fx-background-color: #CDB3D4 ;
	-fx-background-color: #5A6794; 
	-fx-background-color: linear-gradient(to right, #A5CAD2  , #FF7B89  );
	-fx-background-color: linear-gradient(to right bottom, #E2D36B   , #96D7C6  );
	-fx-background-color: linear-gradient(to right bottom, #6C8CBF   , #5AA7A7  );
	-fx-background-color: linear-gradient(to right bottom, #D0C8B6  , #E2D3CD );
				-fx-background-color: linear-gradient(to right bottom, #D6A3DC  , #F7DB70 );
				-fx-background-color: linear-gradient(to right , #7FACD6 , #BFB8DA);
}
#calendarDay{
	-fx-background-color: #ffffff ;
	-fx-border-color: #7FACD6;
} 
.monthFont{
	 -fx-text-fill: white;
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}
#gridCalendar{
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}