.tab{
	-fx-background-color: #33539E;
	
	-fx-text-fill: black;
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}
.dayNameLabel{
	-fx-text-fill: #3a3d3b;
	-fx-text-fill: #33539E;
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 5, 0 , 1 , 1);
	-fx-font-size: 13pt;
	-fx-font-family:  "Typo_Hongikingan L"; 
}
.hboxs{
	-fx-border-color: #7FACD6;
	-fx-border-style: dashed;
}
.fooddiet{
	-fx-font-size: 15pt;
	-fx-font-family:  "Typo_Hongikingan L"; 
	-fx-text-fill: #33539E ;
}
.fooddiet:hover{
	-fx-text-fill: #A5678E;
}
.dayKcal:hover{
	-fx-text-fill: #A5678E;
}
.dayNameLabel:hover{
	-fx-text-fill: white;
}
#uploadBtn:hover{
	-fx-background-color : #A5678E;
}
.weight:hover{
	-fx-text-fill: #A5678E;
}