/*백그라운드 */
#scroll{
	   -fx-background-color: rgba(0,0,0,0);
}
.gradient-main{
	-fx-background-color: linear-gradient(to right , #7FACD6 , #BFB8DA);
}
.login-gradient{
	-fx-background-color: linear-gradient(to right bottom, #7FACD6 , #BFB8DA, #CDB3D4,#E7B7C8 );
}
.dropshadow{
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}
.dropshadow2{
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 5, 0 , 5 , 5);
}

.backcolor-blue{
	-fx-background-color: #33539E  ;
}
.backcolor-yellow{
	-fx-background-color: #ffeebb;
}

.backcolor-yellow2{
	-fx-background-color: #FECC35;
}

.backcolor-pink{
	-fx-background-color:#F8E9EE ;
}

.backcolor-pink2{
	-fx-background-color:#D67E9B ;
}
.backcolor-skyblue{
	-fx-background-color: #7FACD6  ;
}
.backcolor-green{
	-fx-background-color: #C5E5D6 ;
}

.backcolor-green2{
	-fx-background-color: #285942;
}
.backcolor-purple{
	-fx-background-color: #BFB8DA ;
}
.backcolor-purple2{
	-fx-background-color: #A5678E ;
}
.backcolor-purple_up{
	-fx-background-color: #DCC9E9;
}

.backcolor-purple_up2{
	-fx-background-color: #8B4BB6;
}
.backcolor-white{
	-fx-background-color: #ffffff ;
}
.backcolor-pastelblue{
	-fx-background-color:  #EAF4FE ;
}
.backcolor-transparent{
	 -fx-background-color: rgba(0,0,0,0);
}
.bordercolor-skyblue{
	-fx-border-color: #7FACD6;
}

/* font */
.fontsize25{
	-fx-font-size: 25pt;
}
.fontsize20{
	-fx-font-size: 20pt;
}
.fontsize35{
	-fx-font-size: 35pt;
}
.fontsize55{
	-fx-font-size: 55pt;
}
.fontsize13{
	-fx-font-size: 13pt;
}
.fontTypoHongikingan{
	-fx-font-family: "Typo_Hongikingan L"; 
}
.fontSegoeUIBlack{
	-fx-font-family: "Segoe UI Black"; 
}
.fontSeoulNamsan{
	-fx-font-family:  "SeoulNamsan EB"; 
}
.fontSystem{
	-fx-font-family: "System"; 
}
.textfill-white{
	-fx-text-fill: white;	
}
.textfill-blue{
	-fx-text-fill: #33539E;	
}
.fontshadow{
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 5, 0 , 1 , 1);
}

/*////////////////////////////// */

.radius100{
	-fx-background-radius: 100px;
}


#btnPrev:hover{
	-fx-background-color: linear-gradient(to right, #BFB8DA  , #E8B7D4);
}


#btnNext:hover{
	-fx-background-color: linear-gradient(to right,#BFB8DA  , #E8B7D4);
}


.toplabel{
	-fx-background-color: #33539E  ;
	-fx-border-color:#7FACD6;
	-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
	-fx-text-fill: white;
	-fx-font-size: 11pt;
	-fx-font-weight: bold;
}

#lblDay{
	-fx-font-size: 10pt;
	-fx-font-family: "Arial Black"; 
	-fx-text-fill: #4c4d4f;

}

.daydeco{
	-fx-background-color: linear-gradient(to right , #7FACD6 , #BFB8DA);
	-fx-background-color: #e1ebf7 ;
	-fx-background-radius: 100px; 
}

#calendarDay:hover{
	-fx-background-color: #e1ebf7 ;
}
.window:hover{
	-fx-text-fill: #33539E  ;
}
.window{
	-fx-text-fill: #e7e9ee;
}

/*/////////////////////////////////////////////////// */
#poppane{
		-fx-effect: dropshadow(three-pass-box , rgba(0,0,0,0.7) , 10, 0 , 5 , 2);
}


#saveBtn:hover{
	-fx-background-color:#C0DAFF ;
}
#timesave:hover{
	-fx-background-color: #C0DAFF ;
}