#btnPrev{
	-fx-background-color: linear-gradient(to left, #a7d676, #85cbcc );
	-fx-background-radius: 100;
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
}
#btnNext{
	-fx-background-radius: 100;
	-fx-background-color: linear-gradient(to left, #a7d676, #85cbcc );
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
	
}
.toplabel{

	-fx-background-color: linear-gradient(to bottom right, #A7D676 , #85CBCC );
}
#topBar{
	-fx-background-color: linear-gradient(to left, #A7D676 , #85CBCC );
	-fx-background-color: #85CBCC  ;
	-fx-background-color: #A7D676;
}
#lblDay{
	-fx-font-size: 14pt;

}
#monthText{
	-fx-font-size: 55pt;
	-fx-font-family: "System"; 
}
#lblMonth{
	-fx-font-size: 25pt;
	-fx-font-family: "Typo_Hongikingan L"; 
	
	}
#lblDate{
	-fx-font-size: 20pt;
	-fx-font-family: "Typo_Hongikingan L"; 
}

/*#pane{
	-fx-background-color: #CDB3D4 ;
}
#calendarDay{
	-fx-background-color: #ffffff ;
} */